@using QL_ThuVien.Models
@{
    ViewBag.Title = "Thống Kê Tổng Quan";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@section Styles{
    <link href="~/Content/admin/css/page/create-edit-detail.css" rel="stylesheet" />
}

@Html.Partial("_PageHeader", Tuple.Create("Tổng Quan", new List<Tuple<string, string>> {
    Tuple.Create("Dashboard", "/Admin"),
    Tuple.Create("Tổng Quan", "/Admin/Home/Index")
}))

<div class="detail dashboard">
    <h1 class="title text-center">Tổng Quan Thư Viện</h1>

    <div class="general">
        <div class="form-group">
            <div class="form-item">
                <p class="label"><b>Tổng số SÁCH</b></p>
                <p class="content">@((ViewBag.SoLuongSach ?? 0).ToString()) <span class="muted">cuốn</span></p>
            </div>

            <div class="form-item">
                <p class="label"><b>Tổng số ĐỘC GIẢ</b></p>
                <p class="content">@((ViewBag.SoLuongDocGia ?? 0).ToString()) <span class="muted">người</span></p>
            </div>

            <div class="form-item">
                <p class="label"><b>Tổng PHIẾU MƯỢN</b></p>
                <p class="content">@((ViewBag.SoLuongPhieuMuon ?? 0).ToString()) <span class="muted">phiếu</span></p>
            </div>
        </div>

        <div class="form-group">
            <div class="form-item">
                <p class="label"><b>Phiếu mượn chưa trả</b></p>
                <p class="content">@((ViewBag.SoPhieuMuonChuaTra ?? 0).ToString()) <span class="muted">phiếu</span></p>
            </div>

            <div class="form-item">
                <p class="label"><b>Tổng số NHÂN VIÊN</b></p>
                <p class="content">@((ViewBag.SoLuongNhanVien ?? 0).ToString()) <span class="muted">người</span></p>
            </div>

            <div class="form-item">
                <p class="label"><b>Tổng số THỂ LOẠI</b></p>
                <p class="content">@((ViewBag.SoLuongTheLoai ?? 0).ToString()) <span class="muted">thể loại</span></p>
            </div>
        </div>

        <div class="form-group">
            <div class="form-item">
                <p class="label"><b>Tổng số TÁC GIẢ</b></p>
                <p class="content">@((ViewBag.SoLuongTacGia ?? 0).ToString()) <span class="muted">tác giả</span></p>
            </div>

            <div class="form-item">
                <p class="label"><b>Tổng số NXB</b></p>
                <p class="content">@((ViewBag.SoLuongNXB ?? 0).ToString()) <span class="muted">NXB</span></p>
            </div>
            <div class="form-item">
            </div>
        </div>
    </div>
</div>
